body{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
}
.bg-primary{
    background-color: rgb(240, 247, 255) !important; 
}
.jumbotron-other{
    background:url('../images/carouse13.jpg') no-repeat fixed;
}
.jumbotron-detail-apple-pie{
    background: url('../images/products/applepie.jpg') no-repeat fixed;
}

.jumbotron{
    height: 40vh;

}